{
  "jujutsu kaisen": 23,
  "id:109620": 23,
  "demon slayer": 26,
  "demon slayer: kimetsu no yaiba": 26,
  "attack on titan": 25,
  "shingeki no kyojin": 25,
  "bleach": 26,
  "naruto": 220,
  "one piece": 130,
  "game of thrones": 10,
  "breaking bad": 7,
  "the big bang theory": 17,
  "ling cage": 24,
  "heaven official's blessing": 11
}
