# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Node modules
node_modules/

# Build output
dist/
*.tsbuildinfo
public/assets/scripts/*
__pycache__/
*.pyc